.github-link {
    font-size: 25px;
    position: relative;
    top: 10px;
    color: white;
}.github-link-image {
    position: relative;
    top: 8px;
}
.discord-logo {
    position: relative;
    top: 6px;
}

.figure-global {
    text-align: center;
}.profile-github {
    border: solid;
    border-radius: 128px;
}

.header-global {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    text-align: center;
    color: #1c1c1c;
}.header-phrase {
    font-size: 33px;
    position: relative;
    top: 7.5vw;
}